.grid-container{
    display: grid;
    border: 1px;
    column-gap: 10px;
    row-gap: 10px;
    padding: 30px;
    grid-template-columns: 80px 80px 80px  80px;
    grid-row: 80px 80px 80px 80px ;

    justify-content: center;
}

.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: blanchedalmond;
    width: 80px;
    height: 80px;
}
.grid-item2{
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: blanchedalmond;
    width: 170px;
    padding: 30px;
    position: relative;
    bottom: 31px;
    top: 31px;
    right: 31px;

}
.grid-item1{
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: blanchedalmond;
    height: 170px;
    
}
.b{
    position: relative;
        bottom: 31px;
        top: 1px;
        height: 150px;
        width: 80px;
    }
    .bt{
        position: relative;
        height: 80px;
        width: 80px;
    }
    .b1{
        position:relative;
        bottom:90px;
        top:px;
        height:80px;
        width:80px;
        
    }
    .b2{
       position:relative;
        bottom:150px;
        top:px;
        height:80px;
        width:170px;   
    }
.b{
position: relative;
    bottom: 31px;
    top: 1px;
    height: 150px;
    width: 80px;
}
.bt{
    position: relative;
    height: 80px;
    width: 80px;
}
.b1{
    position:relative;
    bottom:90px;
    top:px;
    height:80px;
    width:80px;
    
}
.b2{
   position:relative;
    bottom:150px;
    top:px;
    height:80px;
    width:170px;   
}
    