.bck{
    background-image: https://th.bing.com/th/id/OIP.1Mg-NXW6c_3YzwPGFBZyfAHaE5?pid=ImgDet&rs=1 ;
}
.back{
    display:grid;
   height: 500px;
   width: 300px;
   border: 1px  solid rgba(0, 0, 0, 0.8);
   border-radius: 5px;
justify-content:center;
}
.grid-item1{
    text-align: center;
}
.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
  padding: 10px;
    text-align: center;
}