#a1{
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}
.a{
    color: aliceblue;
    font-weight: 2;
    background-color:#01147b;
    font-family: system-ui;
    

}
.search-bar{
    display: flex;
    align-items: left;
    max-width: 200px;
    margin: auto;
}